In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
#from class
#import sys

#sys.path.insert(1,'../src')
#import brigettes_work

In [3]:
#from class
#df_contracts = pd.read_csv('../data/contracts.csv')
#df_contracts.head()

#df_contracts, df_customers = brigettes_work.load_data()
#df_contracts.head()

In [4]:
#from class 
#df_customers = pd.read_csv('..data/customers.csv')
#df_customers.head()

In [5]:
#from class
#df_customers.rename(columns={'id':'customer_id'}, inplace=True)
#df_customers.head()

In [ ]:
#from class
#df_customers.set_index('customer_id', inplace=True)
#df_contracts.set_index('customer_id', inplace=True)
#df_customers.head()

In [ ]:
#df = df_contracts.join(df_contracts, how='left')
#df.head()

In [ ]:
#df = brigettes_work.combine(df_contracts, df_customers)
#df.head()

In [6]:
import os
os.getcwd()

'/Users/brigettethompson/Desktop/BIP-PYTHON/sales_analysis/notebooks'

In [7]:
import pandas as pd

contracts = pd.read_csv (r'/Users/brigettethompson/Desktop/BIP-PYTHON/sales_analysis/data/contracts.csv')
print (contracts)

     contract_id  customer_id contract_start  contract_term     deposit  \
0              1          127      8/17/2019             12  $53,000.00
1              2          119      12/1/2019             22  $77,000.00
2              3          160       5/1/2019             15  $13,000.00
3              4            7      12/8/2019             23  $56,000.00
4              5          144      2/11/2019              7  $21,000.00
..           ...          ...            ...            ...         ...
995          996           57      11/8/2019             15  $38,000.00
996          997          126      1/13/2019             20  $28,000.00
997          998           89       5/8/2019              7  $73,000.00
998          999           52      3/26/2019              7  $63,000.00
999         1000            3      3/19/2019             16  $23,000.00

    monthly_amt
0    $11,600.00
1    $14,600.00
2    $22,800.00
3    $11,400.00
4    $19,800.00
..          ...
995   $5,300.00
996  $16,000.00
997  $18,400.00
998  $21,600.00
999  $15,700.00

[1000 rows x 6 columns]

In [8]:
import pandas as pd

customers = pd.read_csv (r'/Users/brigettethompson/Desktop/BIP-PYTHON/sales_analysis/data/customers.csv')
print (customers)

      id       company            sector  \
0      1     Bubblebox     Capital Goods
1      2          Izio            Energy
2      3  Twitterworks               NaN
3      4          Viva       Health Care
4      5   Jabberstorm        Technology
..   ...           ...               ...
245  246      Livefish            Energy
246  247          Katz               NaN
247  248         Yombu  Public Utilities
248  249       Dynazzy               NaN
249  250   Twitterwire        Technology

                                    industry                      email  \
0              Military/Government/Technical   kyerson0@bizjournals.com
1                       Oil & Gas Production        farlet1@comcast.net
2                                        NaN         alerohan2@ox.ac.uk
3                      Major Pharmaceuticals   wgiovanitti3@nytimes.com
4    Computer Software: Prepackaged Software          pscallon4@fc2.com
..                                       ...                        ...
245              Oilfield Services/Equipment      gcressy6t@twitter.com
246                                      NaN        siacobini6u@fc2.com
247                 Natural Gas Distribution        ccandy6v@tumblr.com
248                                      NaN   lmothersole6w@nsw.gov.au
249                           Semiconductors  haseef6x@miitbeian.gov.cn

                        address            city state    zip
0               76 Randy Circle       San Diego    CA  92170
1    15360 Village Green Street         Spokane    WA  99252
2                 29 Hovde Hill       Milwaukee    WI  53234
3              074 Center Place          Topeka    KS  66667
4                   4 Moose Way     Terre Haute    IN  47805
..                          ...             ...   ...    ...
245        05019 Eastwood Alley     Brooksville    FL  34605
246       6567 Old Shore Center           Omaha    NE  68134
247          6442 Vahlen Avenue  Salt Lake City    UT  84125
248           15 Oakridge Court   New York City    NY  10060
249             8190 Rusk Point         Seattle    WA  98166

[250 rows x 9 columns]

In [9]:
contracts_1 = pd.DataFrame(contracts, columns = ['customer_id', 'deposit', 'contract_term', 'monthly_amt'])
print (contracts_1)

     customer_id     deposit  contract_term monthly_amt
0            127  $53,000.00             12  $11,600.00
1            119  $77,000.00             22  $14,600.00
2            160  $13,000.00             15  $22,800.00
3              7  $56,000.00             23  $11,400.00
4            144  $21,000.00              7  $19,800.00
..           ...         ...            ...         ...
995           57  $38,000.00             15   $5,300.00
996          126  $28,000.00             20  $16,000.00
997           89  $73,000.00              7  $18,400.00
998           52  $63,000.00              7  $21,600.00
999            3  $23,000.00             16  $15,700.00

[1000 rows x 4 columns]

In [10]:
customers_1 = pd.DataFrame(customers, columns = ['id', 'state'])

customers_1.columns = ['customer_id', 'state']
customers_1.set_index('customer_id', inplace=True)
customers_1

            state
customer_id
1              CA
2              WA
3              WI
4              KS
5              IN
...           ...
246            FL
247            NE
248            UT
249            NY
250            WA

[250 rows x 1 columns]

In [11]:
combined_df = contracts_1.join(customers_1, how='inner') 
combined_df.set_index('customer_id', inplace=True)
combined_df

                deposit  contract_term monthly_amt state
customer_id
119          $77,000.00             22  $14,600.00    CA
160          $13,000.00             15  $22,800.00    WA
7            $56,000.00             23  $11,400.00    WI
144          $21,000.00              7  $19,800.00    KS
75           $74,000.00              9  $13,500.00    IN
...                 ...            ...         ...   ...
168          $77,000.00             20  $12,900.00    FL
128          $19,000.00              1   $6,300.00    NE
77           $90,000.00              9   $9,400.00    UT
66           $68,000.00             14  $13,600.00    NY
121          $99,000.00             23  $18,000.00    WA

[250 rows x 4 columns]

In [12]:
print(combined_df.dtypes)

deposit          object
contract_term     int64
monthly_amt      object
state            object
dtype: object

In [13]:
combined_df['deposit'] = combined_df['deposit'].str.replace('$', '')
combined_df['deposit'] = combined_df['deposit'].str.replace(',', '')

combined_df['monthly_amt'] = combined_df['monthly_amt'].str.replace('$', '')
combined_df['monthly_amt'] = combined_df['monthly_amt'].str.replace(',', '')

combined_df

              deposit  contract_term monthly_amt state
customer_id
119          77000.00             22    14600.00    CA
160          13000.00             15    22800.00    WA
7            56000.00             23    11400.00    WI
144          21000.00              7    19800.00    KS
75           74000.00              9    13500.00    IN
...               ...            ...         ...   ...
168          77000.00             20    12900.00    FL
128          19000.00              1     6300.00    NE
77           90000.00              9     9400.00    UT
66           68000.00             14    13600.00    NY
121          99000.00             23    18000.00    WA

[250 rows x 4 columns]

In [14]:
combined_df[["deposit", "monthly_amt"]] = combined_df[["deposit", "monthly_amt"]].apply(pd.to_numeric)
print (combined_df)

             deposit  contract_term  monthly_amt state
customer_id
119          77000.0             22      14600.0    CA
160          13000.0             15      22800.0    WA
7            56000.0             23      11400.0    WI
144          21000.0              7      19800.0    KS
75           74000.0              9      13500.0    IN
...              ...            ...          ...   ...
168          77000.0             20      12900.0    FL
128          19000.0              1       6300.0    NE
77           90000.0              9       9400.0    UT
66           68000.0             14      13600.0    NY
121          99000.0             23      18000.0    WA

[250 rows x 4 columns]

In [15]:
combined_df["total_monthlyamt"] = combined_df["contract_term"] * combined_df["monthly_amt"]
combined_df["total_sales"] = combined_df["total_monthlyamt"] + combined_df["deposit"]
combined_df

,deposit,contract_term,monthly_amt,state,total_monthlyamt,total_sales
customer_id,,,,,,
119,77000.0,22,14600.0,CA,321200.0,398200.0
160,13000.0,15,22800.0,WA,342000.0,355000.0
7,56000.0,23,11400.0,WI,262200.0,318200.0
144,21000.0,7,19800.0,KS,138600.0,159600.0
75,74000.0,9,13500.0,IN,121500.0,195500.0
...,...,...,...,...,...,...
168,77000.0,20,12900.0,FL,258000.0,335000.0
128,19000.0,1,6300.0,NE,6300.0,25300.0
77,90000.0,9,9400.0,UT,84600.0,174600.0
66,68000.0,14,13600.0,NY,190400.0,258400.0
121,99000.0,23,18000.0,WA,414000.0,513000.0

In [16]:
new_df = combined_df.groupby(by=["state"]).sum("total_sales")
new_df

         deposit  contract_term  monthly_amt  total_monthlyamt  total_sales
state
AK      102000.0             20      38700.0          334500.0     436500.0
AL      150000.0             28      53300.0          556800.0     706800.0
AR      162000.0             13      25800.0          181000.0     343000.0
AZ      403000.0             91      72300.0         1125300.0    1528300.0
CA     1161000.0            260     339700.0         3854700.0    5015700.0
CO      435000.0             75      72300.0          848300.0    1283300.0
CT      212000.0             45      61700.0          702000.0     914000.0
DC      299000.0            117     118700.0         1767700.0    2066700.0
DE      155000.0             39      44000.0          494800.0     649800.0
FL      973000.0            237     277000.0         3584000.0    4557000.0
GA      293000.0             82      73800.0         1117400.0    1410400.0
HI       57000.0              2       6800.0           13600.0      70600.0
IA       86000.0             14      24500.0          171500.0     257500.0
ID      221000.0             35      34900.0          429100.0     650100.0
IL      307000.0             57     103400.0          925300.0    1232300.0
IN      136000.0             38      50100.0          649400.0     785400.0
KS      366000.0             61      90400.0          905100.0    1271100.0
KY       25000.0              9      10400.0           93600.0     118600.0
LA      424000.0             91      94500.0         1424000.0    1848000.0
MA       29000.0             11      11600.0          127600.0     156600.0
MD      265000.0             69      78500.0         1397600.0    1662600.0
ME       57000.0             20      20600.0          412000.0     469000.0
MI      276000.0             73      86200.0         1267100.0    1543100.0
MN      152000.0             52      58300.0          829400.0     981400.0
MO      372000.0             87     107100.0         1271100.0    1643100.0
MS       85000.0             16       8000.0          128000.0     213000.0
NC      226000.0             35      67600.0          549800.0     775800.0
NE      254000.0             48      61500.0          859200.0    1113200.0
NJ       18000.0             15      13000.0          195000.0     213000.0
NM       46000.0             13      14400.0          187200.0     233200.0
NV       96000.0             25      24300.0          288700.0     384700.0
NY      867000.0            226     237200.0         3053600.0    3920600.0
OH      439000.0            133     113100.0         1690200.0    2129200.0
OK      386000.0             67      93600.0          838900.0    1224900.0
OR      262000.0             59      64900.0          922000.0    1184000.0
PA      588000.0            113     154600.0         1678200.0    2266200.0
SC       77000.0             11      18500.0          203500.0     280500.0
TN      229000.0             52      89900.0          996300.0    1225300.0
TX     1524000.0            306     453800.0         5009900.0    6533900.0
UT       90000.0              9       9400.0           84600.0     174600.0
VA      508000.0            113     154200.0         1877500.0    2385500.0
WA      622000.0            143     164600.0         1980200.0    2602200.0
WI      267000.0             75     101700.0         1075800.0    1342800.0
WV       68000.0              5      10200.0           51000.0     119000.0

In [17]:
new_df[['total_sales']]

       total_sales
state
AK        436500.0
AL        706800.0
AR        343000.0
AZ       1528300.0
CA       5015700.0
CO       1283300.0
CT        914000.0
DC       2066700.0
DE        649800.0
FL       4557000.0
GA       1410400.0
HI         70600.0
IA        257500.0
ID        650100.0
IL       1232300.0
IN        785400.0
KS       1271100.0
KY        118600.0
LA       1848000.0
MA        156600.0
MD       1662600.0
ME        469000.0
MI       1543100.0
MN        981400.0
MO       1643100.0
MS        213000.0
NC        775800.0
NE       1113200.0
NJ        213000.0
NM        233200.0
NV        384700.0
NY       3920600.0
OH       2129200.0
OK       1224900.0
OR       1184000.0
PA       2266200.0
SC        280500.0
TN       1225300.0
TX       6533900.0
UT        174600.0
VA       2385500.0
WA       2602200.0
WI       1342800.0
WV        119000.0